 
header{
    width: 100vw;
    height: 10px;
    background-color: transparent;
   margin-top: -10px;
}
#logo{
    display: flex;
    align-items: center;
    
    
}
 #navbar_header #imgLogo{
    width: 200px;
    height: 200px;
    padding: 0 20px;
    margin: 100px 10px 30px 10px;
}
#navbar_header section h1{
    font-weight: 500;
    color:#fff;
   
}
#navbar_header section  
.Link {
    
    padding: 5px 25px;
    outline:none;
    border-radius: 50px;
    border: 1.5px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s linear;
    text-decoration: none;
    color: #fff; 
    font-size: 1rem;    
}

#navbar_header section #Link:hover{
    background: #be850b;
    font-weight: 700;
    color:#000;
    
} 

 
